body {
  background: linear-gradient(90deg, #ededf6 1%, transparent 1%) 1px 0, #fff;
  background-size: 150px 1px;
  font-family: Ubuntu;
}

.fixed-margin {
  margin: 0 15%;
}

.line {
  height: 100%;
  margin-left: 10%;
  width: 1px;
  background: grey;
}

.intro-section {
  background-image: url("../imgs/svg/first-section-background.svg");
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-nav {
  margin: 0 15%;
  padding: 0;
  color: white;
  padding-top: 10px;
}

.navbar-logo-a {
  width: 15%;
}
.logo-img {
  width: 100%;
}

.navbar-nav {
  margin: auto;
}

.nav-li {
  margin: 0 10px;
}

.social-icons-li > a {
  height: 20px;
  padding: 0;
  margin-left: 10px;
}

.social-icons-img {
  height: 100%;
}

.intro-row {
  margin: 80px 15% 0 15%;
}

/* intro left div */

.intro-left-div {
  color: #fff;
}

.intro-h1 {
  word-spacing: 5px;
  font-size: 38px;
  margin-bottom: 30px;
}

.intro-p {
  margin-bottom: 30px;
  font-size: 16px;
  width: 70%;
}

.download-button {
  background-color: #fc6a42;
  width: 40%;
  color: white;
}

.download-button:hover {
  background-color: #e86541;
  transition: 0.3s;
  color: #fff;
}

.features-button {
  background-color: #4466c9;
  width: 40%;
  margin-left: 10px;
  color: white;
}

.features-button:hover {
  background-color: #334d98;
  transition: 0.3s;
  color: #fff;
}

/* intro left div */

/* intro right div */
.mobile-img {
  height: 500px;
}

.circle-temperature {
  background-color: #fff;
  right: -10px;
  top: 50px;
  border-radius: 50%;
  padding: 20px;
  position: absolute;
  color: #6ca3ff;
}
.circle-sunny {
  position: absolute;
  border-radius: 50%;
  height: 90px;
  background: #fc6a42;
  left: -20px;
  top: 45%;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-london {
  position: absolute;
  border-radius: 50%;
  height: 90px;
  background: #4466c9;
  right: -20px;
  top: 43%;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-rio {
  position: absolute;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: #fcec64;
  color: #648cff;
}

/* intro right div */

.scrolldown-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.intro-scrolldown {
  width: 50px;
  height: 50px;
}

/* features section */

.perfect-features-row {
  margin-top: 250px;
}

.features-section {
  margin: 30px 15% 0 15%;
}

.perfect-features-header {
  color: #648cff;
  font-family: UbuntuB;
}

.perfect-features-p {
  color: #999999;
}

.perfect-features-headers {
  font-size: 20px;
}

.perfect-features-p-wrapper {
  margin-bottom: 100px;
}

.perfect-features-p {
  color: #aeaeae;
}

/* features section */

/* widgets row */

.widgets-row {
  margin-top: 250px;
}

.widgets-header-div {
  color: #648cff;
}

.widgets-p-div {
  margin-bottom: 100px;
}

.widgets-p {
  color: #aeaeae;
}

.middle-widgets-div {
  transform: scale(1.15);
  z-index: 999;
}

.scroll-left-img {
  margin-right: auto;
  width: 28px;
}

.scroll-right-img {
  margin-left: auto;
  width: 28px;
}

/* widgets row */

/* screenshot-div */

.screenshot-div {
  margin-top: 250px;
}

.screenshot-header {
  color: #648cff;
}

.screenshot-header-p {
  color: #aeaeae;
}

.screenshots-row {
  margin-top: 70px;
}

.screenshot-mobile-img {
  height: 400px;
}

.screenshot-right {
  align-items: flex-start;
  margin-top: 50px;
  flex-direction: column;
}

.screenshot-cloud {
  height: 65px;
  margin-bottom: 40px;
}

.screenshot-h3 {
  color: #648cff;
  margin-bottom: 30px;
}

.screenshots-p {
  color: #aeaeae;
}

/* screenshot-div */

/* sun-row */

.thesun-row {
  margin-top: 250px;
}

.screenshot-left {
  flex-direction: column;
  margin-top: 50px;
}

/* sun-row */

/* weather status */

.humidity {
  color: #aeaeae;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150%;
  z-index: 3;
  box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

.gradus {
  color: #aeaeae;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150%;
  left: 50px;
  z-index: 2;
  box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

.status {
  color: #aeaeae;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150%;
  z-index: 1;
  left: 100px;
  box-shadow: 0px 0px 18px -8px rgba(0, 0, 0, 0.75);
  background-color: #fff;
}

/* weather status */

/* therain-row */

.therain-row {
  margin-top: 250px;
}

/* therain-row */

/* quotes row */

.what-people-say-row {
  margin-top: 50px;
}

.quotes-header-wrapper {
  margin-top: 270px;
  width: 100%;
  text-align: center;
  color: #648cff;
}

.reviews {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  color: #aeaeae;
}

.quote-wrapper-top {
  font-size: 20px;
}

.quote-sign-author {
  display: block;
  margin-top: 20px;
}

.quote-sign-right {
  height: 50px;
  bottom: -20px;
  right: 0;
}
.quote-sign-left {
  height: 50px;
  top: -20px;
  left: 0;
}

.quote-wrapper-bottom {
  font-size: 20px;
  margin-top: 100px;
}

/* quotes row */

/* download-section */

.download-section {
  background: linear-gradient(90deg, #ededf6 1%, transparent 1%) 1px 0, #648cff;
  background-size: 150px 1px;
  font-family: Ubuntu;
  margin-top: 150px;
  color: #fff;
  padding-top: 50px;
}

.download-row {
  margin: 0 5% 0% 15%;
  overflow: hidden;
}

.download-left {
  flex-direction: column;
  margin-bottom: 5%;
}

.download-header {
  font-size: 26px;
  font-family: UbuntuB;
  margin-bottom: 25px;
}

.download-p {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 25px;
  width: 70%;
}

.stores-div {
  width: fit-content;
}

.stores-imgs {
  height: 45px;
}

.appstore {
  margin-right: 10px;
}

.cloudy-download {
  width: 35%;
  position: absolute;
  filter: blur(2px);
  top: 35%;
  z-index: 1;
}

.sunny-download {
  width: 35%;
  position: absolute;
  left: 30%;
  top: 15%;
  z-index: 2;
}

.rainy-download {
  width: 35%;
  position: absolute;
  left: 60%;
  filter: blur(2px);
  top: 35%;
  z-index: 1;
}

/* download-section */
